@model IEnumerable<LibraryICE.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="nameFilter">Search by Name</label>
            <input type="text" class="form-control" id="nameFilter" name="nameFilter" value="@ViewBag.NameFilter" />
        </div>

        <div class="form-group col-md-3">
            <label for="typeFilter">Filter by Type</label>
            @Html.DropDownList("typeFilter", (SelectList)ViewBag.TypeOptions, "All Types", new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Clear</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
